extends layout

block content
	#top-container
		#rpistream
			//iframe(width="853" height="480" src="https://www.youtube.com/embed/c-N2j5DESC0" frameborder="0" allowfullscreen)
			iframe(width="853" height="480" src="https://www.youtube.com/embed/yIYLbf-qHfY" frameborder="0" allowfullscreen)
		img(id='grass-img' src="images/grass-small.png")
	#shader
	#garden-status
		if !user
			button#login-button(type='button') Login
			#login
			form(id='login-form' action='/login' method='POST')
				label(for='username') Enter Username:
				input#username.form-control(type='text',placeholder='Username' name='username')
				label(for='password') Enter Password: 
				input#password.form-control(type='text',placeholder='Password' name='password')
				input.form-control(type='submit' value='Submit')
		else
			#current-login
				p= user.username
				if user.admin
				p YOU ARE LOGGED IN AS ADMIN	
					#requests
			
		#main
			#garden-table!=variable
			#right-side
				#menu
						ul#tabs
							strong
								li#info-tab INFORMATION
							strong
								li#plant-tab PLANTATION
							strong
								li#schedule-tab SCHEDULE
							strong
								li#social-tab COMMENT
				#display-holder
					#info
						#no-plant
							h2(id='no-plant-text') Nothing Planted Here
							img(src='/images/plant.png' id='plant-icon')
							h2(id='plant-req-text') Plant
						#has-plant
							//h2(id='plant-wiki') hahaha
							#info-name 
					#plantat
						#water-button
							img(src='/images/watering.png' id='watering-img')
						#destroy-button
							//img(src='/images/destroying.png' id='destroy-img')	
						#planting-area
							h2 Planting
							span Select Plant: 
							select(id='plant-choose') 
								optgroup(label='VEGETABLE')
									option(value='cabbage') Cabbage
									option(value='cucumber') Cucumber
								optgroup(label='FRUIT')
									option(value='cherrytomato') Cherry Tomato
									option(value='apple') Apple
								optgroup(label='FLOWER/GREEN LEAF')
									option(value='carnation') Carnation
									option(value='matthiolaincana') Matthiola Incana
							#plant-button Plant!
							#plant-feedback
					//#request
					//#history
	#bottom
		img(id='osu-logo' href="http://www.osu.edu" target="_blank" src="images/osu_logo.png")
		#titleName Telegarden Project
	#admin
	//#input
		//form(id='dataform' action='')
			//div.form-group
				//p Current Available Commands: 'test'
				//label(for='command') Command to Send: 
				//input#command.form-control(type='text',placeholder='Data' name='command')
			//div.form-group
				//label(for='value') Value: 
				//input#value.form-control(type='text',placeholder='value' name='value')
			//button#sendcommand.btn.btn-primary(type='button') Send
	//#result-box
		//h3 Data Received From Pi
		//#results